body {
    background-color: #42496D;
    margin: 0;
}


/* icon */
.iconn {
    height: 500%;
    width: 500%;
}


/* nav bar */
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: #42496D;
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #FFF8E8;
}

.topnav a {
    color: #FFF8E8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.topnav a:hover {
    color: #CED9E6;
}

.topnav a.active {
    color: #E6D1BE;
}


/* text | logo in head */
.text1 {
    color: #CED9E6;
    padding-top: 26px;
    font-size: 60px;
}

.text2 {
    color: #FFFDFA;
    font-size: 55px;
    padding-top: 20px;
}

.text3 {
    color: #C1CEC1;
    font-size: 40px;
    padding-top: 20px;
}

.text4 {
    color: #FFFDFA;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 100px;
}

.text1, .text2, .text3, .text4 {
    padding-left: 20px;
}

.logoo {
    padding-left: 50px;
}

/* containter */
.container-fluid {
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
}

/* horizontal */
.elementor-section-wrap {
    display: inline-flex;
}

.elementor-section {
    width: 100vw;
}