body {
    background-color: #42496D;
    margin: 0;
    overflow-x: hidden;
}


/* icon */
.iconn {
    height: 500%;
    width: 500%;
}


/* nav bar */
.topnav {
    overflow: hidden;
    top: 0;
    position: fixed;
    background-color: #42496D;
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #FFF8E8;
}

.topnav a {
    color: #FFF8E8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.topnav a:hover {
    color: #CED9E6;
}

.topnav a.active {
    color: #E6D1BE;
}

.topnav a.link {
    color: #FFF8E8;
}

.vis:visited {
    color: #FFF8E8;
}

/* text | logo in head */
.text1 {
    color: #CED9E6;
    padding-top: 26px;
    font-size: 60px;
}

.text2 {
    color: #FFFDFA;
    font-size: 55px;
    padding-top: 20px;
}

.text3 {
    color: #C1CEC1;
    font-size: 40px;
    padding-top: 20px;
}

.text4 {
    color: #FFF8E8;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 100px;
}

.text1, .text2, .text3, .text4 {
    padding-left: 65px;
}

.logo5 {
    float: right;
}

/* containter */
.container-fluid {
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 75px;
}

/* about me */
@keyframes Rotate
{from { transform: rotate(0deg); }
 to { transform: rotate(4deg); }
}

.moon {
    animation: Rotate 1s linear infinite; 
    text-align: center;
}

@keyframes rotation
    {from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
   }

.stars {
    animation: rotation 8s linear infinite; 
}


.star {
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
}

@keyframes rotates 
{from { transform: rotate(0deg); }
to { transform: rotate(15deg); }
}

.heart {
    padding-left: 230px;
    margin-top: -70px;
    animation: rotates 3s linear infinite; 
}

.circle {
    padding-left: 100px;
    margin-top: 50px;
}

.circle1 {
    padding-left: 350px;
    margin-top: -45px;
}

/* bow */
.marquee {
    display: flex;
    height: 35vh;
    user-select: none;
    gap: 10rem;
    padding-top: 1rem;
}

.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    min-width: 100%;
    animation: scroll 15s linear infinite;
}

.marquee-group span {
    font-size: 7vw;
    font-weight: 800;
    white-space: nowrap;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

/* abt */
.text5 {
    color: #C29B7C;
    font-size: 60px;
    padding-top: 110px;
    text-align: center;
}

.text6 {
    color: #E6D1BE;
    font-size: 55px;
    text-shadow: 2px 2px 2px #FFF8E8;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text7, .text8 {
    color: #FFF8E8;
    font-size: 40px;
    padding-bottom: 20px;
}

.text7 {
    padding-left: 115px;
}

.text8 {
    padding-right: 75px;
}

/* education */
.text9 {
    color: #42496D;
    text-shadow: 2px 2px 2px #FFF8E8;
    font-size: 60px;
    padding-top: 110px;
    text-align: center;
    padding-bottom: 45px;
}

.text10 {
    color: #FFF8E8;
    font-size: 55px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text11 {
    color: #E6D1BE;
    font-size: 55px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 2px 2px 2px #FFF8E8;
}


/* work */
container-fluid3 {
    padding-left: 50px;
    text-align: center;
}

.text13 h4 {
    color: #42496d;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.text13 a:hover {
    text-decoration: none;
    color: #CED9E6;
    text-align: center;
}

.text13 a {
    color: #42496d;
    font-size: 40px;
    text-decoration: none;
    padding-top: 20px;
    text-align: center;
}

.text12 {
    color: #FFF8E8;
    font-size: 55px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 2px 2px 2px #FFFDFA;
}

/* education */
.text14 {
    color: #FFF8E8;
    text-shadow: 2px 2px 2px #FFFDFA;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.progress-bar {
    padding-top: 20px;
    background-color: #FFFDFA;
}

.pro21 {
    padding-left: 115px;
    padding-bottom: 20px;
    padding-right: 100px;
}

.text15 {
    color: #FFFDFA; 
    font-size: 35px;
    padding-left: 115px;
    padding-bottom: 5px;
}

.text16 {
    color: #FFF8E8;
    text-shadow: 2px 2px 2px #FFFDFA;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.bord {
    border-left: 1px solid #FFFDFA;
}

.list {
    color: #FFFDFA;
    padding-left: 115px;
    font-size: 35px;
}

.list h1 {
    padding-bottom: 20px;
}